<div class="layout">
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="brand">AppAngular</div>
        <nav class="menu">
            <a routerLink="persons" routerLinkActive="active">👤 Personas</a>
            <a routerLink="items" routerLinkActive="active">📦 Items</a>
            <a routerLink="orders" routerLinkActive="active">📝 Ordenes</a>
        </nav>
    </aside>

    <!-- Contenido principal -->
    <main class="content">
        <header class="header">
        </header>
        <section class="page">
            <router-outlet></router-outlet>
        </section>
    </main>
</div>